<FilesMatch ".(htaccess|htpasswd|ini|phps|fla|psd|log|sh)$">
    order allow,deny
    deny from all
    satisfy all
    Sethandler default-handler
    ForceType application/octet-stream
</FilesMatch>

Options All -Indexes